.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 20px auto 1fr;
    grid-template-areas: 
    "title title title"
    "metaData metaData ."
    "tldr tldr tldr"
    "content content content";
}

.title {
    grid-area: title;
    background-color: crimson;
}

.metaData {
    grid-area: metaData;
    background-color: crimson;
}

.tldr {
    grid-area: tldr;
    background-color: crimson;
}

.content {
    grid-area: content;
    background-color: crimson;
}