<form [formGroup]="articleRForm" (ngSubmit)="submitReactive()">
    <div>
        <!-- <label for="title">New Article Title:</label>
        <input type="text" id="title" placeholder="new article title"
                formControlName="title"/>
        {{ articleRForm.valid }}
        {{ articleRForm.controls.title.valid }} -->
        <mat-form-field appearance="fill">
            <mat-label for="title">New article title</mat-label>
            <input type="text" id="title"
                    required
                    formControlName="title"
                    matInput/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label for="author">New article author</mat-label>
            <input type="text" id="author"
                    required
                    formControlName="author"
                    matInput/>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label for="level">New article level</mat-label>
            <input type="text" id="level"
                    required
                    formControlName="level"
                    matInput/>
        </mat-form-field>
    </div>
    <button (click)="addTldr()" type="button" mat-raised-button color="">Add TL;DR Segment</button>
    <div formArrayName="tldr">
        <div *ngFor="let aTldr of tldr.controls; let i=index ">
            <!-- <label for="aTldr{{ i }}">Segment {{ i + 1 }}</label>
            <input type="text" id="aTldr{{i}}"
                    formControlName="{{i}}"/> -->
            <mat-form-field appearance="fill">
                <mat-label for="tldr">Segment {{ i + 1 }}</mat-label>
                <textarea type="text" id="tldr"
                        required
                        formControlName="{{i}}"
                        matInput></textarea>
            </mat-form-field>
        </div>    
    </div>
    <button (click)="addContent()" type="button" mat-raised-button color="">Add Content Segment</button>
    <div formArrayName="content">
        <div *ngFor="let aContent of content.controls; let i=index ">
            <mat-form-field appearance="fill">
                <mat-label for="content">Segment {{ i + 1 }}</mat-label>
                <textarea type="text" id="content"
                        required
                        formControlName="{{i}}"
                        matInput></textarea>
            </mat-form-field>
        </div>    
    </div>
    <!-- <button type="submit">Submit</button> -->
    <button type="submit" mat-raised-button color="primary">Submit</button>
</form>

<div class="container">
    <div class="title">
        {{ articleRForm.value.title }}
    </div>
    <div class="metaData">
        {{ articleRForm.value.author }} {{ articleRForm.value.level }} {{ article.date | date:'MMMM d, y' | uppercase }}
    </div>
    <div class="tldr">
        <ul>
            <li *ngFor="let aTldr of articleRForm.value.tldr">
                {{ aTldr }}
            </li>
        </ul>
    </div>
    <div class="content">
        <ul>
            <li *ngFor="let aContent of articleRForm.value.content">
                {{ aContent }}
            </li>
        </ul>
    </div>
</div>

