@import "../app.component.scss";

h1 {
	font-size: 32px;
}

.container {
	background-color: var(--container-primary-color);
	width: 100%;
	height: 100%;
}

.header {
	width: 90%;
}

.main {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main div {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: none;
}

a {
	padding: 20px;
	margin-bottom: 5px;
	width: 90%;
	font-size: 20px;
}
