<form #newArticle="ngForm" (ngSubmit)="do(newArticle)">
    <label>New Article Title:</label>
    <input  type="text" id="title" 
            name="title" [(ngModel)]="article.title"
            #title="ngModel"/><br>
    {{ article.title }} <br>

    <label>New Article Author:</label>
    <input  type="text" id="author" 
            name="author" [(ngModel)]="article.author"
            #author="ngModel"/><br>
    {{ article.author }}
    <br><br>

    <button type="submit" (click)="newArticle.reset()">Submit</button>
    
    <p>Article object:</p><p>{{ article$ | async | json }}</p><br>
    <p>Form:</p><p>{{ newArticle.value | json }}</p>
</form>